@use '../../styles/main';
@use '../../styles/variables';
// .instagram{
//     background-color: variables.$bgColorDark;
// }
.container__insta{
    max-width: 80rem;
    margin: 0 auto;
    padding: 0;
}
.instagram__content{
    text-align: center;
    max-width: 66rem;
    margin: 0 auto;
    text-align: center;
    padding: 0 3rem;
    .instagram__cta{
        padding-top: 1.5rem;
    }
}